
*.db
*.ilk
*.pdb
*.log
*.res
*.tlog
*.obj
*.idb
*.exe
*.enc
*.cache
ahx2play/vs2019_project/.vs/ahx2play/v16/.suo
*.ipch
.DS_Store
ahx2play/vs2019_project/Release/ahx2play.vcxproj.FileListAbsolute.txt
ahx2play/vs2019_project/x64/Debug/ahx2play.vcxproj.FileListAbsolute.txt
*.cod
ahx2play/vs2019_project/Debug/ahx2play.vcxproj.FileListAbsolute.txt
*.opendb
*.db-shm
*.db-wal
*.recipe
ahx2play/vs2019_project/Release/ahx2play.iobj
ahx2play/vs2019_project/debug.ahx
ahx2play/vs2019_project/Debug/CodeAnalysisResultManifest.txt
